.billCard .MuiFab-root.removeButton,
.billCard .MuiFab-root.editButton {
  margin-left: 20px;
}

.MuiPaper-root.billCard {
  padding: 20px;
  width: auto;
  display: inline-block;
  margin-bottom: 10px;
}

.billCardField {
  display: flex;
  align-items: center;
}

.billCardField > span {
  font-weight: bold;
  margin-right: 15px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
}

.billCard .saveButton {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
